.login-main-content {
  width: 30rem;
  color: #333;
}

.login-card {
  border: 1px solid #bdbdbd;
  border-radius: 24px;
}

.login-card-content {
  margin: 3.625rem 3rem;
}

.login-card-info-logo {
  margin-bottom: 1.5rem;
  width: 8.1875rem;
  height: 1.125rem;
}

.login-card-info-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.login-card-info-tips {
  font-size: 16px;
  line-height: 22px;
}

.login-form-icon {
  color: #828282;
  width: 1.25rem;
  height: 1rem;
}

.login-form-button {
  color: #fff;
  font-size: 16px;
}

.login-with-platform p {
  font-size: 14px;
  color: #828282;
  text-align: center;
}

.login-with-platform-logo-wrapper {
  display: flex;
  justify-content: center;
}

.login-with-platform-logo-wrapper > * {
  border: 1px solid #828282;
  border-radius: 50%;
  width: 1.6875rem;
  height: 1.6875rem;
  margin: 0 0.625rem;
}

.login-with-platform-logo {
  font-size: 14px;
  color: #828282;
  line-height: 1.8rem;
}

.login-creator-info {
  display: flex;
  justify-content: space-between;
}

.login-creator-info > p {
  margin: 0;
  color: #828282;
}
